<nb-card style="overflow:hidden;width: 500px;">
  <nb-card-header class="header" >New User</nb-card-header>
  <nb-card-body class="lead-body" style="width: 1000px">
    <form [formGroup]="usersForm" ngSubmit="onFormSubmit()">
      <div class="row">
        <!-- <div class="form-group col-sm-2"></div> -->
        <div class="form-group col-sm-6">
          <!-- <label for="name"><b>Name</b></label> -->
          <input type="text" nbInput fullWidth class="form-control" formControlName="name" placeholder="Name" />
          <div
            *ngIf="usersForm.controls['name'].invalid && (usersForm.controls['name'].dirty || usersForm.controls['name'].touched)"
            class="alert alert-danger">
            <div *ngIf="usersForm.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
        </div>
        <!-- <div class="form-group col-sm-2"></div> -->
      </div>


      <div class="row">
        <!-- <div class="form-group col-sm-2"></div> -->
        <div class="form-group col-sm-6">
          <!-- <label for="email"><b>Email</b></label> -->
          <input type="text" nbInput fullWidth class="form-control" formControlName="email" placeholder="Email" />
          <div
            *ngIf="usersForm.controls['email'].invalid && (usersForm.controls['email'].dirty || usersForm.controls['email'].touched)"
            class="alert alert-danger">
            <div *ngIf="usersForm.controls['email'].errors.required">
              Email number is required.
            </div>
            <div class="form-text error" *ngIf="usersForm.controls['email'].errors?.pattern">
              Email number be the real one!
            </div>
          </div>
        </div>
        <!-- <div class="form-group col-sm-2"></div> -->
      </div>


      <div class="row">
        <!-- <div class="form-group col-sm-2"></div> -->
        <div class="form-group col-sm-6">
          <!-- <label for="userName"><b>UserName</b></label> -->
          <input type="text" nbInput fullWidth class="form-control" formControlName="userName" placeholder="UserName" />
          <div
            *ngIf="usersForm.controls['userName'].invalid && (usersForm.controls['userName'].dirty || usersForm.controls['userName'].touched)"
            class="alert alert-danger">
            <div *ngIf="usersForm.controls['userName'].errors.required">
              UserName is required.
            </div>
          </div>
        </div>
        <!-- <div class="form-group col-sm-2"></div> -->
      </div>


      <div class="row">
        <!-- <div class="form-group col-sm-2"></div> -->
        <div class="form-group col-sm-6">
        <input type="password" nbInput fullWidth class="form-control" formControlName="password" placeholder="Password"/>
        <div
          *ngIf="usersForm.controls['password'].invalid && (usersForm.controls['password'].dirty || usersForm.controls['password'].touched)"
          class="alert alert-danger">
          <div *ngIf="usersForm.controls['password'].errors.required">
            Password is required.
          </div>
        </div>
        </div>
        <!-- <div class="form-group col-sm-2"></div> -->
      </div>

      <div class="row">
        <!-- <div class="form-group col-sm-2"></div> -->
        <div class="form-group col-sm-6">
          <!-- <label for="confirm_password"><b>Confirm Password</b></label> -->
            <input type="password" nbInput fullWidth class="form-control" formControlName="confirm_password" placeholder="Confirm Password"/>
            <div *ngIf="usersForm.controls['confirm_password'].invalid && (usersForm.controls['confirm_password'].dirty || usersForm.controls['confirm_password'].touched)" class="alert alert-danger">
                <div *ngIf="usersForm.controls['confirm_password'].errors.required">
                  Confirm Password number is required.
                </div>
                <div class="form-text error"
                *ngIf="usersForm.controls['mobile'].errors?.pattern">
                Confirm Password number be the real one!
                </div>
            </div>
        </div>
        <!-- <div class="form-group col-sm-2"></div> -->
      </div>

      <div class="row">
        <div class="form-group col-sm-3">
        <nb-select placeholder="Select Store" [(selected)]="selectedItem" formControlName="select_store" class="form-group col-sm-3">
          <nb-option value="">Select store</nb-option>
          <nb-option value="0">store 0</nb-option>
          <nb-option value="1">store 1</nb-option>
          <nb-option value="2">store 2</nb-option>
          <nb-option value="3">store 3</nb-option>
          <nb-option value="4">store 4</nb-option>
        </nb-select>
        <div
        *ngIf="usersForm.controls['select_store'].invalid && (usersForm.controls['select_store'].dirty || usersForm.controls['select_store'].touched)"
        class="alert alert-danger">
        <div *ngIf="usersForm.controls['select_store'].errors.required">
          Store is required.
        </div>
      </div>
      </div>
        <!-- <div class="form-group col-sm-2"></div> -->
        <div class="form-group col-sm-3">
          <!-- <label for="mobile"><b>Mobile Number</b></label> -->
            <input type="text"nbInput fullWidth class="form-control" formControlName="mobile" placeholder="Mobile Number"/>
            <div *ngIf="usersForm.controls['mobile'].invalid && (usersForm.controls['mobile'].dirty || usersForm.controls['mobile'].touched)" class="alert alert-danger">
                <div *ngIf="usersForm.controls['mobile'].errors.required">
                    mobile number is required.
                </div>
                <div class="form-text error"
                *ngIf="usersForm.controls['mobile'].errors?.pattern">
                Mobile number be the real one!
                </div>
            </div>
        </div>
        <!-- <div class="form-group col-sm-2"></div> -->
      </div>

     


      <!-- <div class="row" style="margin-top: 5%;">
        <div class="form-group col-sm-2"></div>
        <div class="form-group col-sm-6 text-right">
          <button nbButton  status="default" (click)="cancel()" style="margin-left: 50%;">Cancel</button>
        </div>
        <div class="form-group col-sm-6 text-right">
          <button nbButton  status="primary" (click)="add(usersForm.value)">Save</button>
        </div>
        <div class="form-group col-sm-2"></div>
      </div> -->

      <div class="col-lg-6">
        <div class="col-md-12 text-right">
          <button nbButton  status="primary" (click)="add(usersForm.value)" >Save</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button nbButton  status="default" (click)="cancel()">Cancel</button>

        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>